{% block subject %}Welcome to our real estate content delivery platform{% endblock subject %}

{% block plainBody %}
Hi,

Thanks for signing up for an account. We're excited to have you on board!

Thanks,

The Real Estate Team
{% endblock plainBody %}

{% block htmlBody %}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <p>Hi,</p>
        <p>Thanks for signing up for anaccount. We're excited to have you on board!</p>
        <p>Thanks,</p>
        <p>The Real Estate Team</p>
    </body>
</html>
{% endblock htmlBody %}
